@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-fira-code: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background: #0D0D0D;
  color: #ffffff;
}